/* Set background color and font for the body */
body {
  /* background-color: #f8f9fa; */
  font-family: "Inter", sans-serif;
}

/* Style for the signup card */
#signup-card {
  width: 100%;
  max-width: 400px;
  height: 90vh;
}

/* Style for the brand logo */
#brand-logo {
  width: 222px;
  height: 36px;
  margin-bottom: 20px;
  text-shadow: 5px 0px black;
  text-shadow: 4px 4px 6px #b2beb5;
}

/* Style for the create an account text */
#text {
  color: #191d23;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  shadow: 0px 0px 5px 0px #ff0000;
  text-shadow: 4px 4px 6px #b2beb5;
}

/* Style for the Sign Up */
.btn-primary {
  background-color: #685cff;
  border-color: #685cff;
  height: 48px;
}

/* Hover effect for the Sign Up */
.btn-primary:hover {
  background-color: #5a54cc;
  border-color: #5a54cc;
}

/* Captcha */
#captcha {
  width: 400px;
}

#signupForm {
  width: 100%;
  input::placeholder {
    color: #999da3;
  }
}

.form-label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  text-shadow: 4px 4px 6px #b2beb5;
}

.form-control {
  height: 48px;
  width: 400px;
  border-radius: 8px;
  border-size: 1px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-color: #4b5768;
  box-shadow: 0 4px 4px rgba(100, 100, 100, 0.2);
}

.password {
  display: flex;
  cursor: pointer;
}

#visibility {
  margin-left: -40px;
  color: #999da3;
}

/* Terms and Cond */
.terms {
  margin-bottom: 16px;
  font-size: 14px;
  color: #999da3;
  text-shadow: 4px 4px 6px #b2beb5;
}

/* Style for form span */
form span {
  display: block;
  margin-top: 10px;
}

/* Style for the anchor tag within span */
form span a {
  text-decoration: none;
  color: #6c63ff;
}

/* Hover effect for the anchor tag */
form span a:hover {
  text-decoration: underline;
}

/* Style for the Google logo */
#google-logo {
  width: 20px;
  height: 20px;
}

/* Sign Up */
.signUp {
  width: 400px;
  radius: 4%;
  margin-top: 15px;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* Or sign up with */
.orSignUpWith span {
  width: 128px;
  height: 28px;
  color: #999da3;
  justify: center;
  background: #f0f0f0;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* hr tag */
hr {
  position: absolute;
  width: 342px;
  border: 0.5px;
  background: #4b5768;
  margin-top: 15px;
  margin-left: 29px;
}

/* Continue with google */
.google {
  background: #e4e7eb;
  color: #4b5768;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* Already Have an account */
.accountAlready {
  color: #999da3;
  font-size: 16px;
  text-align: center;
  margin: 16px;
  text-shadow: 4px 4px 6px #b2beb5;

  a {
    font-weight: 600;
    color: #3f52ff;
    text-shadow: 2px 2px 4px #b2beb5;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
}
